<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="晴れ風 桜カメラ｜晴れ風ACTION｜KIRIN">
    <meta name="description"
        content="日本の桜を守る活動 #晴れ風ACTION 桜の判定のお手伝いができる 「桜AIカメラ」がスタート🌸📷 いつも撮っている桜の写真から 桜の健康状態や樹齢がわかります。 みんなで集めた桜のデータは 全国の1741自治体へ届けられます。 さっそく、桜を撮ってみよう❗️ #キリン晴れ風">

    <meta property="og:title" content="晴れ風 桜カメラ｜晴れ風ACTION｜KIRIN">
    <meta property="og:site_name" content="晴れ風 桜カメラ｜晴れ風ACTION｜KIRIN">
    <meta property="og:description"
        content="日本の桜を守る活動 #晴れ風ACTION 桜の判定のお手伝いができる 「桜AIカメラ」がスタート🌸📷 いつも撮っている桜の写真から 桜の健康状態や樹齢がわかります。 みんなで集めた桜のデータは 全国の1741自治体へ届けられます。 さっそく、桜を撮ってみよう❗️ #キリン晴れ風">
    <meta property="og:url" content="{{ og_url }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ image_url }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ image_url }}">

    <title>晴れ風 桜カメラ｜晴れ風ACTION｜KIRIN</title>
</head>

<body>
    <script>
        // リダイレクト処理
        window.location.replace('{{ redirect_url }}');
    </script>
</body>

</html>